config REISER4_FS_SYSCALL
	tristate "Enable reiser4 system call"
	default y
	depends on REISER4_FS
	---help---
      Adds sys_reiser4() syscall.
      This code is not in good shape yet.  If unsure say no.

config REISER4_FS_SYSCALL_DEBUG
	bool "Enable reiser4 system call debug"
	depends on REISER4_DEBUG && REISER4_FS_SYSCALL
	help
	  Turns on debug reiser4_system_call.
	  Don't use this unless you are debugging reiser4 syscall.



config REISER4_FS_SYSCALL_GENERATE
        bool "Recompile the sys_reiser4() grammar. (if unsure say no)."
        default n
	depends on REISER4_FS_SYSCALL
	---help---
     Use the bison/yacc code generator for recompile the sys_reiser4()
     grammar if you have changed it.

choice
        prompt "Type of code generator"
	depends on REISER4_FS_SYSCALL_GENERATE
        default REISER4_FS_SYSCALL_BISON

config REISER4_FS_SYSCALL_BISON
	bool "bison"
	depends on REISER4_FS_SYSCALL
	---help---
      Invoke bison to compile fs/reiser4/parser/parser.y.  Only needed if you
      have changed the sys_reiser4() grammar.

config REISER4_FS_SYSCALL_YACC
	bool "yacc"
	depends on REISER4_FS_SYSCALL
	---help---
      Invoke yacc to compile fs/reiser4/parser/parser.y.
      Only needed if you have changed the sys_reiser4() grammar.
      If you don't know if you have changed it, then you haven't.
      Before using this you need to use a patch for yacc from
      ftp://ftp.namesys.com/pub/reiserfsprogs/yacc_reiser4.patch

endchoice

